<!--顶部导航栏：包含公司信息和导航信息-->
<html>
<head><meta charset="UTF-8"></head>
<body>
    <!--logo-->
    <div class="col-3">
        <a href="{{info.common.website.serverAddress}}" class="logo d-block">
            <img src="{{info.common.company.logo}}" class="img-fluid" alt="{{info.common.website.name}}">
        </a>
    </div>
    <!--菜单栏-->
    <nav class="col-7 nav nav-pills nav-fill">
        {{each info.navs item index}}
        {{set active = (item.name === info.selected) ? 'nav-active' : ''}}
        <a class="nav-item nav-link {{active}}" href="{{item.url}}">{{item.title}}</a>
        {{/each}}
    </nav>
    <!--搜索及国际化-->
    <section class="col-2">
        <!--<a class="searchBut" id="searchBut"><i class="icon-ef64"></i>
            <div class="searchDiv" id="searchDiv" style="display: none">
                <input type="text" class="serachKey" placeholder="请输入关键词" id="serachKey">
                <div class="btn-block">搜索</div>
            </div>
        </a>-->
        {{if info.common.website.showI18n}}
        <div class="language float-right">
            <a href="#lang=chinese">中文</a><i> | </i><a href="#lang=English">English</a>
        </div>
        {{/if}}
    </section>

</body>
</html>