/*
.show-title {
    height: 50px;
    border-bottom: 1px solid #888;
    margin: 40px auto 20px auto;
}

.show-title h2 {
    display: block;
    float: left;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    color: #333;
    font-weight: normal;
}

.show-title i {
    display: block;
    float: left;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    color: #333;
    font-weight: normal;
    margin: 0 6px;

    speak: none;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
}

.show-title em {
    display: block;
    float: left;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    color: #666;
    font-style: normal;
    text-transform: uppercase;
 }
*/
