<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <title>#(title)</title>
    <!--   js   -->
    <script src="/static/plugins/art-template/template-web.js"></script>
    <script src="/static/plugins/jquery/3.5.1/jquery.min.js"></script>
    <script src="/static/common/js/common.js"></script>
    <script src="/static/common/js/common.classes.js"></script></head>
    <script src="./js/test.js"></script>
<body>
<h1>test</h1>

<script>
    var testVar = 1;
    test();
</script>
</body>
</html>
