#--
    百度webUploader
    @para fileType 上传文件类型：图片(img)、文档(doc)、图片和文档(imgAndDoc)
    // @para fileTypeName 上传文件类型名称：图片、文档、图片和文档(文件)
    @para fileUploadUrl 上传文件服务端地址
--#
#define baidu_file_upload(fileInfoList, fileType, fileUploadUrl, filePickerLabel)
###setLocal(fileUploadUrl = "/ueditor/upFile")
### 插件路径
#setLocal(webUploaderPluginPath = "/static/plugins/webuploader")
### 类型和名称处理
#if(!fileType) #setLocal(fileType = "img") #end
#setLocal(typeMap = {img: "图片", "doc": "文档", "imgAndDoc": "图片或文档"})
#setLocal(fileTypeName = typeMap[fileType])
<html>
<head>
    <meta charset="utf-8">
    <link href="#(webUploaderPluginPath)/webuploader.css" rel="stylesheet">
    <link href="#(webUploaderPluginPath)/demo/webuploader-demo.min.css" rel="stylesheet">

    <script src="#(webUploaderPluginPath)/webuploader.min.js"></script>
    <script src="#(webUploaderPluginPath)/demo/webuploader-demo.min.js"></script>
</head>
<body>

<div class="page-container">
    <div id="uploader" class="wu-example">
        <div class="queueList">
            <div id="dndArea" class="placeholder">
                <div id="filePicker"></div>
                <p>您可以点击选择文件按钮，添加#(fileTypeName).</p>
                <p>或将#(fileTypeName)拖到这里，单次最多可选300个#(fileTypeName)</p>
            </div>
        </div>
        <div class="statusBar" style="display:none;">
            <div class="progress">
                <span class="text">0%</span>
                <span class="percentage"></span>
            </div>
            <div class="info"></div>
            <div class="btns">
                <div id="filePicker2"></div>
                <div class="uploadBtn">开始上传</div>
            </div>
        </div>
    </div>
</div>

<!--js-->
<script type="text/javascript">
    // webUploader插件swf地址
    let swf = '#(webUploaderPluginPath)/Uploader.swf';

    // 图片文件/文档文件/图片和文档
    #setLocal(acceptFileType = {img: "getImageFileType()", "doc": "getDocumentFileType()", "imgAndDoc": "getDocAndImgFileType()"})
    let acceptFileType = #(acceptFileType[fileType]);

     #(fileInfoList) = initWebUploader("#(fileUploadUrl)", swf, acceptFileType, "#(filePickerLabel)");

</script>
</body>
</html>
#end