
<div id="uploader-demo" class="wu-example">
    <div id="fileList" class="uploader-list"></div>
    <div id="filePicker" class="webuploader-container"><div class="webuploader-pick">选择图片</div>
        <div id="rt_rt_1efdmhevn1c91bqb12l2178bg3j4" style="position: absolute; top: 0px; left: 0px; width: 94px; height: 44px; overflow: hidden; bottom: auto; right: auto;">
            <input type="file" name="file" class="webuploader-element-invisible" multiple="multiple" accept="image/*">
            <label style="opacity: 0; width: 100%; height: 100%; display: block; cursor: pointer; background: rgb(255, 255, 255);"></label>
        </div>
    </div>
</div>
